@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#959595;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
	background:#f3f1f1 url(../images/header_bg.jpg) repeat-x center 11px;	
	-webkit-background:#f3f1f1 url(../images/header_bg.jpg) repeat-x center 11px;
	-moz-background:#f3f1f1 url(../images/header_bg.jpg) repeat-x center 11px;
	-o-background:#f3f1f1 url(../images/header_bg.jpg) repeat-x center 11px;
	-ms-background:#f3f1f1 url(../images/header_bg.jpg) repeat-x center 11px;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	padding:0;
	float:left;
	width:auto;
}
h1 {
	margin:0;
	padding:40px 0;
	float:left;
	color:#fff;
	font:bold 52px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-3px;
}
h1 span {
	font-weight:normal;
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 small {
	display:block;
	margin-top:-6px;
	padding:0 6px 2px 104px;
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px/1.5em Arial, Helvetica, sans-serif;
	padding:16px 0 8px;
	margin:0 0 8px;
	color:#323a3f;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
	margin:0 -22px;
	padding:14px 22px;
	text-align:left;
	border-top:1px solid #dfdede;
	background:url(images/spec_bg.gif) repeat-x center top;
}
a {
	color:#5db166;
	text-decoration:underline;
}

a.com {
	margin:0;
	padding:0;
	text-decoration:none;
	float:right;
}
a.com span {
	padding:2px 4px;
	color:#fff;
	background-color:#5db166;
}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}

.header_resize {
	margin:0 auto;
	padding:0;
	width:974px;
}
.menu_nav {
	margin:0;
	padding:52px 40px 0 0;
	float:right;
	height:29px;
}
.menu_nav ul {
	list-style:none;
	height:29px;
}
.menu_nav ul li {
	margin:0 12px 0 0;
	padding:0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:4px 20px;
	color:#fff;
	text-decoration:none;
	font-size:12px;
	border-radius: 10%;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	background-color:#7ccc86;
}
.content_resize {
	margin:0 auto;
	padding:16px 0 24px;
	width:970px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:670px;
}
.content .mainbar img {
	border:1px solid #d8dbdc;
}
.content .mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.content .mainbar .article {
	margin:0 0 10px;
	padding:10px 24px 22px;
}
.content .mainbar input[type=image]{
	float:left;
}
.content .sidebar {
	padding:0;
	float:right;
	width:286px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:8px 16px 8px 24px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#959595;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
}
ul.exm_menu {
	margin:0;
	padding:0;
	list-style:none;
}
ul.exm_menu li {
	padding:10px 0;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#5db166;
	font-weight:bold;
	margin:0;
}
ul.exm_menu li a{
	color:#2df1f8;
}
ul.exm_menu li a:hover {
	color:#5db166;
}
ul.exm_menu li a, ul.exm_menu li a:hover {
	font-weight:bold;
	list-style:none;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content p.pages {
	padding:32px 24px 12px;
	font-size:11px;
	color:#959595;
	text-align:right;
}
.content p.pages span, .content p.pages a:hover {
	padding:5px 10px;
	color:#fff;
	background-color:#5db166;
	border:1px solid #5db166;
}
.content p.pages a {
	padding:5px 10px;
	color:#959595;
	background-color:#fff;
	border:1px solid #edebeb;
	text-decoration:none;
}
.content p.pages small {
	font-size:11px;
	float:left;
}
.content .mainbar .article, .content .sidebar .gadget, .fbg_resize {
	background-color:#fff;
	border:1px solid #dfdede;
}

.content .sidebar .gadget h3 img {
	margin-left: 18%;
	border-radius: 50%;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	background:repeat center center;
}
.fbg_resize {
	margin:0 auto;
	width:890px;
	padding:24px 40px;
	background:repeat-x center top;
}
.fbg ul li {
	padding:4px 0;
}
.fbg .c2 a, .fbg .c3 a {
	margin:0;
	padding:2px 4px;
	color:#5db166;
	text-decoration:none;
}
.fbg ul li a {
	margin:0;
	padding:2px 4px;
	background:none;
	text-decoration:none;
}
.fbg ul li a:hover {
	text-decoration:underline;
	font-weight:normal;
}

.fbg img {
	margin:0 4px 0 0;
	padding:3px;
	border:1px solid #78b2cb;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:300px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:260px;
}


.footer{
	margin:0 auto;
	padding:26px;
	width:922px;
}


/* ---Slider --- */
.slider{
	width:100%;
	position:relative;
  }
	
  .slider img{
	height:70%;
	position:relative;
	background-color:#eee;
	margin-bottom:10px;
	margin-left:0;
	padding:0; 
  }
  
  .slider-wrapper{
	background: rgba(15, 15, 15, 0.58);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	margin-left:0;
	padding:0; 
	transition:all;
	opacity: 1;
  }
  .slider-wrapper h5 {
	font-size: 3em;
	color: #fff;
	text-align: center;
	margin: 4.5em auto 0;
	width: 60%;
	line-height:1.5em;
  } 
  
  /* ---Slider End --- */

  
.btn {
    width: 8rem;
    display: block;
    height: 2.2rem;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    background: linear-gradient(120deg, #1abc9c, #8e44ad, #3498db);
    background-size: 200%;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 auto;
}

.btn:hover {
    background-position: right;
}

.login{
	color: rgb(5, 121, 199);
}

.login h2{
	text-align: center;
	color: rgb(16, 17, 17);
	font-size: 24px;	
}

.login input{
	width: 80%;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 14px;
	color: rgb(212, 214, 214);
}

.login input[type="email"], input[type="password"]
{
	border: none;
	border-bottom: 1.5px solid rgb(199, 199, 199);
	background: transparent;
	outline: none;
	height: 20px;
	color: rgb(29, 28, 28);
	font-size: 14px;
	padding-left:12px;
}

.login input[type="email"]:hover, input[type="password"]:hover
{
	border: none;
	border-bottom: 1.5px solid rgb(9, 84, 94);
	background: transparent;
	outline: none;
	height: 20px;
	color: rgb(58, 124, 124);
	font-size:14px;
	padding-left:12px;
}

.login input[type="submit"]
{
	border: none;
	outline: none;
	height: 33px;
	background: rgb(38, 153, 230);
	color: rgb(251, 254, 255);
	font-size: 12px;
	border-radius: 0px;
	width: 50%;
}

.login input[type="submit"]:hover
{
	cursor: pointer;
	background: #106b96;
	color: #fff;
	font-size: 12px;
	width: 50%;
}

.login a{
	text-decoration: none;
	font-size: 13px;
	text-align: center;
	line-height: 1px;
	color: rgb(3, 148, 104);
	padding-left: 1rem;
	padding-bottom:4rem;
}

.login a:hover
{
	color:#1eecca
}

.login h5
{
	font-size: 13px;
	text-align: center;
	color:#ac0808;
	margin:0;
	padding:0;
}



#person{
	margin:0;
	padding-top: 1rem;
	padding-left:2rem;
	width: 15px;
	height: 15px;
}

#lock{
	margin:0;
	padding-left:2rem;
	padding-top: 1rem;
	width: 15px;
	height: 15px;
}
	
