<!DOCTYPE html>
<html>
<head>
<head>
    {% if title %}
	    <title>ExamInside - {{ title }}</title>
    {% else %}
        <title>ExamInside</title>
    {% endif %}
	</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
  <div class="main">
    <div class="header">
      <div class="header_resize">
        <div class="menu_nav">
          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
            <li  class="active"><a href="{{ url_for('contact') }}">Contact Us</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
        <div class="logo">
           <img src="{{ url_for('static', filename='images/logo1.jpg') }}" width="220px" height="100px"/>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>  
  </div>
  <div class="fbg">
  <div class="clr"></div></br></br></br>
        <h2><center><span>CONTACT</span></center></h2>
      <div class="clr"></div>
  </div>
   <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <a><img src="{{ url_for('static', filename='images/21.jpg') }}" width="430" height="270" alt="" /></a> 
      </div>
      <div class="col c2">
        .
      </div>
      <div class="col c3">
        <h3><span>ExamInside.com</span></h3>
        <h3><p>Contact No:</br>
        033 2580 9615</p>
        <p>www.kucse.in</p>
        <p>Address:</br>
         Dept. of Computer Application & Engineering</br>
         University Of Kalyani</br>
         Kalyani, Nadia-741235</p>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
      <div class="clr"></div>
  </div>
</div>

</body>
</html>
